body{
    padding: 5% 10%;
    box-sizing: border-box;
    margin: 0;
    background: radial-gradient( dodgerblue,deepskyblue);
}
@font-face {
    font-family: "Bomb";
    src: url("./bubblegums/BUBBLEGUMS.TTF");
  }
  .headtext{
      font-family: Bomb; 
      font-size: 60px;
      color: rgb(255, 255, 255);
  }
  .headtext:hover{
    color: rgb(255, 255, 255);
  }
.ft-name{
    font-family: Bomb;
    font-size: 20px;
}
input{
    border-radius: 10px;
    width: 300px;
    height: 50px;
    padding: 2px 20px;
    outline-color: dodgerblue;
}
@media(max-width:1000px){
.headtext{
    font-size: 20px;
}
input{
    width: 200px;
}
}
